// @mixin tablet

.header
    height: 200px
    padding: 0 20px
    background-color: orange
    margin-bottom: 20px
    .user
        font-size: 20px
        margin: 0
        padding: 10px
    .headerWrapper
        display: flex
        flex-wrap: wrap
        align-content: space-around
        justify-content: space-between
        align-items: center
    h1
        color: yellow
        font-size: 50px
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    p, a
        font-size: 50px
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    .link
        display: flex
        flex-wrap: wrap
        flex-direction: row
        align-items: center
    .link > *
        margin: 10px
        text-decoration: none
    

        // @media screen and (max-width: 1024px)
        //     .header
        //         height: 100px
        //     h1
        //         font-size: 35px
        //     p, a
        //         font-size: 50px
